/* =================== RESET E VARIÁVEIS =================== */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CABEÇALHO E RODAPÉ*/

:root {
    --cor-primaria: #293264;
    --cor-secundaria: #0A853D;
    --cor-branco: #fff;
    --cor-hover: rgba(255, 255, 255, 0.2);
    --font-size: 11pt;
    /* Tamanho de fonte padrão */
    --spacing: 0.5rem;
    /* Espaçamento padrão */
}

/* =================== LAYOUT GERAL =================== */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding-top: 55px;
    /* Deixa espaço para a topbar */

    /*FUNDO PONTILHADO*/
    --dot-bg: #f8f8f8;
    --dot-color: #293264;
    --dot-size: 1px;
    --dot-space: 26px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);

    background-attachment: fixed;
}

/* =================== CABECALHO =================== */
.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(93deg, var(--cor-primaria) 19%, var(--cor-secundaria) 100%);
    color: var(--cor-branco);
    padding: var(--spacing) 1.875rem;
}

.cabecalho nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.cabecalho nav a {
    color: var(--cor-branco);
    text-decoration: none;
    font-size: var(--font-size);
    padding: 0.3125rem 0.625rem;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.cabecalho nav a:hover {
    text-decoration: none;
    background-color: var(--cor-hover);
    border-color: var(--cor-branco);
}

/* =================== RODAPÉ =================== */

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(93deg, #293264 19%, #0a853d 100%);
    color: var(--cor-branco);
    padding: var(--spacing) 1.875rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* =================== CONTEÚDO PRINCIPAL =================== */
main {
    padding: 25px;
    max-width: 2000px;
}

.card {
    position: relative;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* =================== BARRA DE TÍTULO E CAMPO DE BUSCA =================== */

.Modulo {
    position: relative;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.topo-modulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

.txt-label {
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 5px;
}

.campo-buscar {
    Width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

/* =================== TABELA =================== */

.table-container {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
}

thead {
    background: linear-gradient(93deg, #293264 19%, #0a853d 100%);
    font-size: 16px;
}

th {
    color: #eee;
    background: transparent;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

tbody tr:hover {
    background-color: #e6e6e6;
}

/* =================== LARGURA DAS COLUNAS DA TABELA =================== */

.col-cpf {
    width: 8%;
}

.col-nome {
    width: 20%;
}

.col-orgao {
    width: 20%;
}

.col-update {
    width: 10%;
}

.col-foto {
    width: 8%;
}

.col-acao {
    width: 7%;
}

.text-success {
    color: #28a745;
    font-weight: bold;
}

.nenhum {
    color: #4b4b4b;
    font-style: italic;
    text-align: center;
}

/* =================== BOTÕES =================== */

.btn-editar {
    background-color: #0A853D;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btn-editar:hover {
    background-color: #14b658;
}

.svg {
    width: 11px;
    right: 0;
    fill: rgb(255, 255, 255);
    transition-duration: .3s;
    margin-right: 5px;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.foto-visitante {
    width: 60px;
    height: 60px;
    border-radius: 5%;
    object-fit: cover;
    border: 2px solid #0A853D;
    object-fit: cover;
}

.foto-visitante:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}